<h1>Hierarchy Editor</h1>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Select a Module for View or Edit Hierarchy </mat-panel-title>
    </mat-expansion-panel-header>

    <section>
      <h6>
        <button
          mat-icon-button
          color="primary"
          aria-label="Update"
          matTooltip="Update"
          (click)="refreshProductTree()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        Modules:
      </h6>
    </section>

    <mat-list role="list">
      @for (module of modules; track module) {
        <mat-list-item role="listitem">
          <button
            mat-icon-button
            aria-label="Update"
            matTooltip="Update"
            (click)="openEditor(module)"
          >
            <mat-icon>edit</mat-icon></button
          >{{ module }}
        </mat-list-item>
      }
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
        Builder
      </mat-panel-title>
      <mat-panel-description>
        @if (moduleNameSelected === '') {
          Not Module Selected
        } @else {
          Edit Workflow "<span style="text-transform: uppercase"
            ><b>{{ moduleNameSelected }}</b></span
          >"
        }
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template #dynamicEditorLoader></ng-template>
  </mat-expansion-panel>
</mat-accordion>
