<h1>Builder</h1>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Select a Template to View or Edit
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button (click)="openDialog(node.parent, node.item)">
          <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
        </button>
        {{node.item}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button
                [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
      </mat-tree-node>
    </mat-tree>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
        Builder
      </mat-panel-title>
      <mat-panel-description>
        @if(templateNameSelected === '') {
          Not Template Selected
        } @else {
          Edit Template "<span style="text-transform:uppercase"><b>{{templateNameSelected}}</b></span>"
        }
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template #dynamicEditorLoader></ng-template>

  </mat-expansion-panel>

</mat-accordion>
