:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.h-6px {
  height: 6px;
}

.wh-32px {
  width: 32px !important;
  height: 32px !important;
}

.wh-40px {
  width: 40px !important;
  height: 40px !important;
}
