<c-row>
  <c-col xs="12" md="6" xl="3">
    <c-card class="mb-4">
      <c-card-body class="d-flex flex-column justify-content-between" style="min-height: 120px">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="text-body-secondary">Active Systems</span>
          <span class="badge bg-info bg-opacity-10 text-info fw-semibold" style="font-size: 0.9rem"
            >+12% ↑</span
          >
        </div>
        <div class="d-flex align-items-center mb-1 justify-content-between">
          <span style="font-size: 2.5rem; font-weight: 600">24</span>
          <span
            class="d-flex align-items-center justify-content-center"
            style="background: #e3f6ff; border-radius: 50%; width: 40px; height: 40px"
          >
            <svg cIcon name="cilSpreadsheet" style="color: #39f" width="24" height="24"></svg>
          </span>
        </div>
        <div class="text-body-secondary" style="font-size: 1rem">Production: 16 | Dev: 8</div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" md="6" xl="3">
    <c-card class="mb-4">
      <c-card-body class="d-flex flex-column justify-content-between" style="min-height: 120px">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="text-body-secondary">Active Users</span>
          <span
            class="badge bg-primary bg-opacity-10 text-primary fw-semibold"
            style="font-size: 0.9rem"
            >+5% ↑</span
          >
        </div>
        <div class="d-flex align-items-center mb-1 justify-content-between">
          <span style="font-size: 2.5rem; font-weight: 600">47</span>
          <span
            class="d-flex align-items-center justify-content-center"
            style="background: #e3eaff; border-radius: 50%; width: 40px; height: 40px"
          >
            <svg cIcon name="cilUser" style="color: #3366ff" width="24" height="24"></svg>
          </span>
        </div>
        <div class="text-body-secondary" style="font-size: 1rem">Devs: 12 | Business: 35</div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" md="6" xl="3">
    <c-card class="mb-4">
      <c-card-body class="d-flex flex-column justify-content-between" style="min-height: 120px">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="text-body-secondary">Deployments</span>
          <span
            class="badge bg-success bg-opacity-10 text-success fw-semibold"
            style="font-size: 0.9rem"
            >+2% ↑</span
          >
        </div>
        <div class="d-flex align-items-center mb-1 justify-content-between">
          <span style="font-size: 2.5rem; font-weight: 600">8</span>
          <span
            class="d-flex align-items-center justify-content-center"
            style="background: #eaffea; border-radius: 50%; width: 40px; height: 40px"
          >
            <svg cIcon name="cilCloudUpload" style="color: #28a745" width="24" height="24"></svg>
          </span>
        </div>
        <div class="text-body-secondary" style="font-size: 1rem">Successful: 7 | Failed: 1</div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" md="6" xl="3">
    <c-card class="mb-4">
      <c-card-body class="d-flex flex-column justify-content-between" style="min-height: 120px">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <span class="text-body-secondary">Components</span>
          <span
            class="badge bg-warning bg-opacity-10 text-warning fw-semibold"
            style="font-size: 0.9rem"
            >+8% ↑</span
          >
        </div>
        <div class="d-flex align-items-center mb-1 justify-content-between">
          <span style="font-size: 2.5rem; font-weight: 600">187</span>
          <span
            class="d-flex align-items-center justify-content-center"
            style="background: #fffbe3; border-radius: 50%; width: 40px; height: 40px"
          >
            <svg cIcon name="cilPuzzle" style="color: #ffc107" width="24" height="24"></svg>
          </span>
        </div>
        <div class="text-body-secondary" style="font-size: 1rem">Reusable: 65% | Custom: 35%</div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col md="6" xl="8" xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary">User</th>
              <th class="bg-body-tertiary text-center">Country</th>
              <th class="bg-body-tertiary">Usage</th>
              <th class="bg-body-tertiary text-center">Payment Method</th>
              <th class="bg-body-tertiary">Activity</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.name; let i = $index) {
              <tr>
                <td class="text-center"></td>
                <td>
                  <div>{{ user.name }}</div>
                  <div class="small text-body-secondary text-nowrap">
                    <span> {{ user.state }} | Registered: {{ user.registered }} </span>
                  </div>
                </td>
                <td class="text-center">
                  <svg
                    cIcon
                    id="{{ user.country + user.name }}"
                    name="cif{{ user.country }}"
                    size="xl"
                    title="{{ user.country }}"
                  ></svg>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-start">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-body-secondary">
                        {{ user.period }}
                      </small>
                    </div>
                  </div>
                  <c-progress
                    thin
                    [value]="user.usage"
                    color="{{ user.color }}"
                    aria-label="Usage"
                  />
                </td>
                <td class="text-center">
                  <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                </td>
                <td>
                  <div class="small text-body-secondary">Last login</div>
                  <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="6" xl="4" xs="12">
    <c-card [color]="'light'" [textColor]="''" class="mb-3">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <span style="font-size:1.25rem; font-weight:600;">Workspaces</span>
        <a href="#" class="text-decoration-none text-primary" style="font-size:0.95rem;">View all</a>
      </c-card-header>
      <c-card-body class="bg-gradient">
        <div class="mb-3 p-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span style="font-weight:600;">Finance Enterprise</span>
            <span class="badge bg-info bg-opacity-10 text-info" style="font-size:0.95rem;">active</span>
          </div>
          <div class="text-body-secondary mb-1">Finance department workspace</div>
          <div class="d-flex justify-content-between align-items-center small text-body-secondary">
            <span>Systems:</span>
            <span>Updated: 10/5/2025</span>
          </div>
        </div>
        <button cButton class="w-100 border bg-light text-body-secondary" style="font-size:1rem;">
          <span class="me-2">+</span> Create New Workspace
        </button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col md="6" xl="6" xs="12">
    <c-card class="mb-4">
      <c-card-header>Traffic {{ '&' }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col xs="6">
            <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
              <div class="text-body-secondary text-truncate small">New Clients</div>
              <div class="fs-5 fw-semibold">9,123</div>
            </div>
          </c-col>
          <c-col xs="6">
            <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
              <div class="text-body-secondary text-truncate small">Recurring Clients</div>
              <div class="fs-5 fw-semibold">22,643</div>
            </div>
          </c-col>
        </c-row>
        <hr class="mt-0" />

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <strong>insurance/claims-processor</strong>
            <div class="small text-body-secondary">99.8% uptime</div>
          </div>
          <span class="badge bg-success">OK</span>
        </div>
        <c-progress class="my-2" thin value="99.8" color="success" aria-label="Uptime" />

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <strong>banking/customer-profile</strong>
            <div class="small text-body-secondary">94.0% uptime</div>
          </div>
          <span class="badge bg-success">OK</span>
        </div>
        <c-progress class="my-2" thin value="94.0" color="success" aria-label="Uptime" />

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <strong>banking/transaction-processor</strong>
            <div class="small text-body-secondary">67.0% uptime</div>
          </div>
          <span class="badge bg-success">OK</span>
        </div>
        <c-progress class="my-2" thin value="67.0" color="success" aria-label="Uptime" />

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <strong>investments/portfolio-analysis</strong>
            <div class="small text-body-secondary">91.0% uptime</div>
          </div>
          <span class="badge bg-success">OK</span>
        </div>
        <c-progress class="my-2" thin value="91.0" color="success" aria-label="Uptime" />

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <strong>compliance/kyc-verification</strong>
            <div class="small text-body-secondary">73.0% uptime</div>
          </div>
          <span class="badge bg-success">OK</span>
        </div>
        <c-progress class="my-2" thin value="73.8" color="success" aria-label="Uptime" />
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="6" xl="6" xs="12">
    <c-card class="mb-4">
      <c-card-header>Traffic {{ '&' }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col xs="6">
            <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
              <div class="text-body-secondary text-truncate small">Page views</div>
              <div class="fs-5 fw-semibold">78,623</div>
            </div>
          </c-col>
          <c-col xs="6">
            <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
              <div class="text-body-secondary text-truncate small">Organic</div>
              <div class="fs-5 fw-semibold">49,123</div>
            </div>
          </c-col>
        </c-row>

        <hr class="mt-0" />

        <div class="progress-group mb-4">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
            <span>Male</span>
            <span class="ms-auto font-semibold">43%</span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="warning" value="43" aria-label="Male users" />
          </div>
        </div>
        <div class="progress-group mb-5">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
            <span>Female</span>
            <span class="ms-auto font-semibold">37%</span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="warning" value="37" aria-label="Feale users" />
          </div>
        </div>

        <div class="progress-group">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cibGoogle"></svg>
            <span>Organic Search</span>
            <span class="ms-auto font-semibold">
              191,235 <span class="text-body-secondary small">(56%)</span>
            </span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="success" value="56" aria-label="Organic search" />
          </div>
        </div>
        <div class="progress-group">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
            <span>Facebook</span>
            <span class="ms-auto font-semibold">
              51,223 <span class="text-body-secondary small">(15%)</span>
            </span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="success" value="15" aria-label="Facebook" />
          </div>
        </div>
        <div class="progress-group">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cibTwitter"></svg>
            <span>Twitter</span>
            <span class="ms-auto font-semibold">
              37,564 <span class="text-body-secondary small">(11%)</span>
            </span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="success" value="11" aria-label="Twitter" />
          </div>
        </div>
        <div class="progress-group">
          <div class="progress-group-header">
            <svg cIcon class="icon icon-lg me-2" name="cibLinkedin"></svg>
            <span>LinkedIn</span>
            <span class="ms-auto font-semibold">
              27,319 <span class="text-body-secondary small">(8%)</span>
            </span>
          </div>
          <div class="progress-group-bars">
            <c-progress thin color="success" value="8" aria-label="LinkedIn" />
          </div>
        </div>
        <div class="divider d-flex justify-content-center">
          <button
            cButton
            class="text-muted btn-link"
            color="transparent"
            size="sm"
            type="button"
            aria-label="Options"
          >
            <svg cIcon name="cil-options"></svg>
          </button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
