<h3 mat-dialog-title>
  DMN Editor - Condition {{ dmnName }}
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Info" fontIcon="info"></mat-icon>
  </button>
</h3>
<mat-dialog-content>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
      <h4>Properties</h4>
      <ul>
        @for (property of properties; track property) {
          <li>{{ property }}</li>
        }
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <app-dmn-editor
        #dmneditor
        [dmnData]="data"
        [dmnName]="dmnName"
        [namespace]="namespace"
      ></app-dmn-editor>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()" cdkFocusInitial>Not Edit</button>
  <button mat-button (click)="accept()">Confirm</button>
</mat-dialog-actions>
